#card-container{
    width: 250px;
    min-height: 200px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px rgba(71, 168, 237,0.3);
    margin:5px;
    float: left;
    background-color: #fff;
}

/*Header part*/

#card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:5px auto;
    border-bottom:1px dashed silver;
}
.order-number{
font-family:SolaimanLipi,sans-serif;
font-size: 10px;
}

.edit-icon{
    position:relative;
    display: inline-block;
}
.edit-icon>img{
    width:40px;
}
.edit-option{
display: none;
position: absolute;
z-index: 1;
min-width: 150px;
padding:3px 5px;
background-color: #fff;
border-radius: 10px;
box-shadow:0px 1px 2px silver;

}
.edit-option>p{
    font-family: SolaimanLipi,sans-serif;
}
.edit-icon:hover .edit-option{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

/*Body part*/
#card-body{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: SolaimanLipi,sans-serif;
}

#card-body img{
width: 20px;
}

#card-body > div {
    display: flex;
    flex-direction: row;
    gap:9px;
    color:rgb(95, 98, 100);
}

#card-body>.customer-name{
    font-weight: bold;
    color:#000;
}

#listGroup{
margin-top: 20px;
font-family: SolaimanLipi,sans-serif;
}

#listGroup #list-item{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items:flex-start;
}

#list-item > input{
    margin-top: 5px;
    background-color: green;
}